doctype html

head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style
    include style.css
h1 this is my pug file
header.nav
  ul.navbar
    span
      button
        b
          i search here
    span
      a(href='') About
      a(href='') link1
      a(href='') link2
      a(href='') link3
      a(href='') link4
    span.nit
      a(href='https://www.google.co.in/')
        b NIT KURUKSHETRA
.welcomebar
  .pic
    img(src='nitlogo.jpg' alt='')
  .welcome
    h1
      b WELCOME TO NIT KKR HEALTH PORTAL
.login
  b LOGIN OR SIGNUP
  .staff
    | STAFF LOGIN
  .student
    | STUDENTS LOGIN
  .newreg
    | NEW REGISTRATION
    br
    small click here
.self
  | take a self assesment here
.photo
  a(href='') NIT KKR PHOTO GALLERY
.facilities
  a(href='') other facilities in college
.b1
  | this is block b1
.b2
  | this is block b2
.b3
  | this is block b3
.b4
  | this is block b4
.gmap
  a(href='googlemap.com') locate us on map
.copy
  h5 copyright
.foot
  .foot1
  .foot2
